* {
  margin: 0px;
  padding: 0px;
}

/*   display: flex;
  justify-content: center;
  align-items: center; */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  border-radius: 5px;
  margin: 180px 0px 180px 0px;
  padding: 10px;
}

.entireapp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category {
  width: 80%;
  display: flex;
}

.btn {
  margin: 5px;
  padding: 5px;
  width: 100%;
}
